[Desktop Entry]
Type=Application
Version=1.0
Name=MagicSpot
GenericName=Music Player
Comment=A native Spotify client
Exec=magicspot %u
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;
Icon=magicspot
StartupNotify=true
StartupWMClass=magicspot
MimeType=x-scheme-handler/spotify;
